/*----------------------------
    Shared styles on all pages.
-----------------------------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body input, button {
    background-color: darkgrey;
    color: darkorchid;
    font-size: 15px;
}

header {
    background-color: #085E50;
    color: black;
    padding: 20px;
    box-shadow: 0 0 10px #085E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 50px;
    margin: 0;
}

.header_right a {
    color: darkgrey;
    text-decoration: underline;
    font-weight: bold;
    margin: 5px;
}

.header_right a:hover {
    color: darkorchid;
    box-shadow: 0 0 10px darkorchid;
}

footer {
    margin-top: auto;
    padding: 10px 0;
    background-color: #085E50;
    color: darkgrey;
    box-shadow: 0 0 10px #085E50;
    text-align: center;
    font-size: 10px;
}

/*--------------------------
    Login/Signup page style.
--------------------------*/
body.auth_page {
    text-align: center;
}

.form_container {
    border: 2px solid #085E50;
    display: inline-block;
    background-color: black;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px #085E50;
    margin: 50px auto 10px auto;
}

.body.auth_page .form_container {
    margin: 50px auto 10px auto;
}

.form_container p {
    margin-top: 10px;
    margin-bottom: 0;
}

/*----------------------
    Shopping cart style.
------------------------*/
.cart_page_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart_container {
    border: 2px solid #085E50;
    width: 50%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px #085E50;
    background-color: black;
}

.cart_container h1 {
    text-align: center;
}

.checkout_container {
    border: 2px solid #085E50;
    width: 40%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px #085E50;
    background-color: black;
}

.checkout_container h1 {
    text-align: center;
}
