/*
Author: Evan Messmer
Course: CSC 337
File: style.css
Purpose: Houses all the styling for each of the .html pages. separated by the page for ease
    of reading.
*/

/*----------------------------
    Shared styles on all pages.
-----------------------------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body input, button {
    background-color: darkgrey;
    color: darkorchid;
    font-size: 15px;
}

body h1 {
    text-align: center;
}

header {
    background-color: #085E50;
    color: black;
    padding: 20px;
    box-shadow: 0 0 10px #085E50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 50px;
    margin: 0;
}

.header_right a {
    color: darkgrey;
    text-decoration: underline;
    font-weight: bold;
    margin: 5px;
}

.header_right a:hover {
    color: darkorchid;
    box-shadow: 0 0 10px darkorchid;
}

footer {
    margin-top: auto;
    padding: 10px 0;
    background-color: #085E50;
    color: darkgrey;
    box-shadow: 0 0 10px #085E50;
    text-align: center;
    font-size: 10px;
}

/*--------------------------
    Login/Signup page style.
--------------------------*/
body.auth_page {
    text-align: center;
}

.form_container {
    border: 2px solid #085E50;
    display: inline-block;
    background-color: black;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px #085E50;
    margin: 50px auto 10px auto;
}

.body.auth_page .form_container {
    margin: 50px auto 10px auto;
}

.form_container p {
    margin-top: 10px;
    margin-bottom: 0;
}

/*---------------------
    Storefront styling.
----------------------*/
.main {
    margin-top: 0;
    height: 100%;
}

.filters {
    padding-left: 15px;
    float: left;
    border-top: 3px solid #085E50;
    border-right: 3px solid #085E50 ;
    border-radius: 8px;
    box-shadow: 0 0 20px #085E50;
}

.contentbody {
    padding: 20px 225px;
}

.searchbox {
    padding: 5px 25px;
    border: 3px solid #085E50;
    border-radius: 15px;
    width: 97%;
}

#searchbar {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
}

#searchbutton {
    width: 25%;
    padding: 10px;
}

.productspace {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 10px;
}

.product {
    width: 100%;
    height: 300px;
    border: 3px solid #085E50;
    border-radius: 8px;
}

/*----------------------
    Shopping cart style.
------------------------*/
.cart_page_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart_container {
    border: 2px solid #085E50;
    width: 50%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px #085E50;
    background-color: black;
}

.cart_container h1 {
    text-align: center;
}

.checkout_container {
    border: 2px solid #085E50;
    width: 40%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px #085E50;
    background-color: black;
}

.checkout_container h1 {
    text-align: center;
}

/*-------------------------------
    style for supplemental pages.
--------------------------------*/
.message {
    text-align: center;
}