
header {
    background-color: #085E50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    box-shadow: 0 0 10px teal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

header h1 {
    color: black;
    font-size: 50px;
    margin: 0;
}

body {
    background-color: black;
    color: darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body.auth-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.form-container {
    border: 2px solid #085E50;
    display: inline-block;
    background-color: black;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px #085E50;
    text-align: center;
    margin: 50px auto 10px auto;
}

.form-container p {
    margin-top: 10px;
    margin-bottom: 0;
}

footer {
    margin-top: auto;
    padding: 10px 0;
    background-color: #085E50;
    color: darkgrey;
    box-shadow: 0 0 10px #085E50;
}
